body {
  background: #000;
  color: #fff;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  letter-spacing: -0.03em;
}

header,
main,
footer {
  min-width: 1400px;
}

footer {
  font-family: 'Manrope', sans-serif;
}

.container {
  margin: 0 auto;
  width: 1150px;
}

:root {
  --my-color: rgb(247, 255, 5);
  ;
}

/* Приветствие */

.header-wrapper {
  /* height: 765px; */
  width: 100%;
  background-image: url(../resurces/greetings.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.greetings {
  padding-top: 27px;
  margin-bottom: 252px;
}

.logo-wrapper {
  display: inline-block;
  background-color: #000;
  border-radius: 100px;
}

.logo {
  padding: 0 10px;
  display: block;
  font-weight: 700;
  font-size: 43px;
  line-height: 55px;
  text-transform: uppercase;
  color: var(--my-color);
  letter-spacing: -0.11em;
}

.menu {
  display: inline-block;
  float: right;
  background-color: rgba(0, 0, 0, 0.5);
  ;
  border-radius: 100px;
  padding: 0 10px;
}

.menu-item {
  display: inline-block;

}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  line-height: 55px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;

}

.description-greatings__text {
  width: 430px;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}

.description-greatings__appeal {
  width: 919px;
  font-size: 80px;
  line-height: 70px;
  color: var(--my-color);
  padding-bottom: 94px;
}