html {
  scroll-behavior: smooth;
}

body {
  background: #000;
  color: #fff;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  min-width: 1400px;
}

.container {
  margin: 0 auto;
  width: 1150px;
}

h1,
h2,
h3,
p,
a {
  letter-spacing: -0.03em;
}

footer {
  font-family: 'Manrope', sans-serif;
}

section {
  margin-top: 150px;
}

h2 {
  font-size: 55px;
  line-height: 72px;
}

h3 {
  font-size: 35px;
  line-height: 45.5px;
}

.description-format {
  font-size: 22px;
  line-height: 29px;
}

:root {
  --my-color: rgb(247, 255, 5);
}

.menu-link:hover,
.contacts__link:hover {
  color: var(--my-color);
  transition: 0.5s;
}

/* Приветствие */

.header-wrapper {
  width: 100%;
  height: 765px;
  background-image: url(../resurces/greetings.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-wrapper {
  padding-top: 27px;
  margin-bottom: 252px;
}

.logo-wrapper {
  display: inline-block;
  background-color: #000;
  border-radius: 100px;
}

.logo {
  padding: 0 10px;
  display: block;
  font-weight: 700;
  font-size: 43px;
  line-height: 55px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--my-color);
  letter-spacing: -0.11em;
}

.menu {
  display: inline-block;
  float: right;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  padding: 0 10px;
}

.menu-item {
  display: inline-block;

}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  line-height: 55px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}


.description-greetings__descr {
  width: 430px;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}

.description-greetings__title {
  width: 919px;
  font-size: 76px;
  line-height: 70px;
  color: var(--my-color);
  padding-bottom: 94px;
}

/* Портфолино */

.project__title {
  margin-bottom: 40px;
}

.project__list {
  position: relative;
  width: 100%;
  height: 550px;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

.project__list:last-child {
  margin-bottom: 80px;
}

.project__wrapper {
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.project__subtitle {
  margin-bottom: 5px;
}

.project__description {
  font-size: 30px;
  line-height: 39px;
}

.btn {
  display: block;
  padding: 57px 85px;
  width: 582px;
  height: 153px;
  font-size: 30px;
  line-height: 39px;
  text-decoration: none;
  text-align: center;
  background-color: var(--my-color);
  color: #000;
  border-radius: 10px;
}

.btn:hover {
  background-color: #000;
  color: var(--my-color);
  border: 1px solid var(--my-color);
  transition: 0.5s;
}

/* компетенции */

.experience__title {
  margin-bottom: 87px;
}

.experience__items h3 {
  margin-bottom: 15px;
  position: relative;
  color: var(--my-color);
}

.experience__items p {
  margin-bottom: 120px;
  width: 778px;
}


.experience__markup-title::before,
.experience__js-title::before,
.experience__library-title::before,
.experience__mobile-title::before {
  content: '';
  position: absolute;
  display: block;
  width: 45px;
  height: 44px;
  top: -57px;
  background-color: var(--my-color);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;

}

.experience__markup-title::before {
  background-image: url(../resurces/html-and-css_picture.svg);
}

.experience__js-title::before {
  background-image: url(../resurces/JS_pictur.svg);

}

.experience__library-title::before {
  background-image: url(../resurces/libraries\ and\ frameworks.svg);

}

.experience__mobile-title {
  width: 651px;
}

.experience__mobile-title::before {
  background-image: url(../resurces/adaptation.svg);
}

/* Услуги */

.services__wrapper:not(:last-child) {
  margin-bottom: 106px;
}

.services__subtitle {
  margin-bottom: 74px;
  width: 403px;
}

.services__text {
  padding: 40px;
  height: 283px;
  background-color: #191C19;
  border-radius: 30px;
}

.services__title {
  margin-bottom: 15px;
  color: var(--my-color);
}

.services__text p {
  width: 749px;
}

/* контакты */

.contacts {
  height: 717px;
  background-image: url(../resurces/cuate.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-color: #191C19;
  border-radius: 30px;
}

.container-contacts {
  padding-top: 320px;
}

.contacts__text {
  font-size: 35px;
  line-height: 60px;
  margin-bottom: 28px;
}

.contacts__link {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 60px;
  line-height: 60px;
}

.contacts__link:not(:last-child) {
  margin-bottom: 20px;
}

/* футер */

.footer {
  background-color: #fff;
  border-radius: 30px 30px 0 0;
}

.footer__descr {
  padding-top: 76px;
  padding-bottom: 66px;
  font-size: 22px;
  line-height: 28px;
  color: #000;
}

.footer__text {
  padding-bottom: 30px;
  font-size: 20px;
  color: #000;
  opacity: 0.5;
}